body {font-family:Arial, Helvetica, sans-serif; margin:50px auto 50px 50px}

.frame1 {width:800px; margin:0 auto}


li {list-style:none; margin:0; padding:0;}

ul {padding:0}

h1 {font-size:26px; margin-bottom:20px;margin-top: 10px;color:#345256;}
a:hover {color:#dabf08;}
h2 {font-size:18px; margin-bottom:40px;margin-top: 10px;color:#345256;}

text1 {font-size:14px;color:#132224;display: block;width:400px}

.abc { margin-top:60px;}

a { text-decoration:none; color:#4e4b4b; display: block;}

img {margin-bottom:15px}

.qq {margin:0px}

td {vertical-align:top}

a:hover {color:#dabf08;}




::-moz-selection { color: white;  background: black; }
::selection      { color: white;  background: black;  } 

/* draw selected text in a paragraph white on black */
p::-moz-selection { color: white;  background: black; }
p::selection      { color: white;  background: black; }


